selenium==3.141.0
urllib3==1.26.2
ExifRead==2.1.2
pymongo==3.7.2
qrcode==6.1
elasticsearch==7.0.5
requests==2.25.0
opencv_python==4.0.0.21
Scrapy==1.6.0
lxml==4.3.2
pandas==0.24.2
openpyxl==3.0.3
tqdm==4.32.2
Pillow==8.1.1
